
*.dat
.Rproj.user/C7277449/sources/per/t/0104CA4D
.Rproj.user/C7277449/sources/per/t/0104CA4D-contents
.Rproj.user/C7277449/sources/per/t/444414FD
.Rproj.user/C7277449/sources/per/t/A684CA44
.Rproj.user/C7277449/sources/per/t/A684CA44-contents
.Rproj.user/C7277449/sources/per/t/F7B46B6E
.Rproj.user/C7277449/sources/per/t/F7B46B6E-contents
.Rproj.user/C7277449/sources/prop/148DA13D
.Rproj.user/C7277449/sources/prop/2DBFD536
.Rproj.user/C7277449/sources/prop/5841DA75
.Rproj.user/C7277449/sources/prop/C0C9535E
.Rproj.user/shared/notebooks/paths
